html, body {

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}

header {

    position: absolute;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    z-index: 1000;

}

#globalArea {
  
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#changedArea {

    width: 50%;
    height: 100%;
    float: left;

}

#infoBoard {

    position: absolute;
    left: 35%;
    top: 40%;
    width: 400px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: rgba(106, 107, 111, 0.6);
    display: none;
}

#explanation {

    width: 100%;
    height: 50%;
    font-size: 16px;
}

#countryArea {

    width: 100%;
    height: 50%;
}

#enable, #disable, #enable2 {

    position: absolute;
    left: 52%;
    width: 100px;
    height: 40px;
    color: #cbcbcb;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    transition: 1s;
    border-radius: 5px;
    background-color: rgba(110, 110, 110, 0.8);

}

#enable:hover, #disable:hover, #enable2:hover {

    color: #fff;
    background-color: #929292;

}

#enable2 {

    top: 50px;
    left: 20px;

}

#enable {

    top: 50px;
    left: 150px;

}

#disable {

    top: 50px;
    left: 280px;
}

a {

  color: #ff0000;
}
